<div class="container">
    <h4 class="page-header">CHALLENGING MATHS</h4>
    <div id="accordion" class="mb-3">
        <div class="card">
            <div class="card-header bg-dark" id="headingOne">
                <h5 class="mb-0">
                <button class="btn btn-link collapsed font-weight-bold" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    About Challenging Mathamatics
                </button>
                </h5>
            </div>
        
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <p style="text-align: center;">A challenging mathematical problem is posted every week in the form of an MCQ, for you to try.
                        To compete, you should submit your answer before the deadline and should be below 18 on that date.
                        Should submit both your answer (selected from five choices given), and your explanation.
                    </p>
                    <h4>Prizes</h4>
                    <p>The first three students to submit the correct answer with the most correct mathematical explanation will get respectively</p>
                    <ul>
                        <li>First Prize: Rs. 2000.00</li>
                        <li>Second Prize: Rs. 1500.00</li>
                        <li>Third Prize: Rs. 1000.00</li>
                    </ul>
                    <h4>How to Submit your Answer</h4>
                    <p>Three modes/options are available to submit your answers</p>
                    <ul>
                        <li>Upload: click <a href="#">here</a></li>
                        <li>Email: cjw@maths.cmb.ac.lk</li>
                        <li>Send by registered post, to the address</li>
                    </ul>
                    <h4>To view the answer and to join the forum discussion</h4>
                    <p>You can view the correct answer after you submit yours with or without an explanation<br/></p>
                    <p>Forum is open for discussion of the question when the dead line expires. To join the forum: click here</p>
                </div>
            </div>
        </div>
    </div>

    <h3 style="text-align:center; font-weight: bolder; color: rgb(117, 207, 243);">CHALLENGES</h3>
    <hr style="height: 2px; background: rgb(117, 207, 243); inline-size: 150px;"/>
    <div class="row">
        <div class = "col-md-4 col-sm-4 col-lg-2">
            <img src="assets/images/Question_mark.png" class="challange-img" alt="Cinque Terre">
            <div class="middle">
                <button >John Doe</button>
            </div>
            <p>Challange#1</p>
        </div>
        <div class = "col-md-4 col-sm-4 col-lg-2">
            <img src="assets/images/Question_mark.png" class="challange-img" alt="Cinque Terre">
            <p>Challange#2</p>
        </div>
        <div class = "col-md-4 col-sm-4 col-lg-2">
            <img src="assets/images/Question_mark.png" class="challange-img" alt="Cinque Terre">
            <p>Challange#3</p>
        </div>
        <div class = "col-md-4 col-sm-4 col-lg-2">
            <img src="assets/images/Question_mark.png" class="challange-img" alt="Cinque Terre">
            <p>Challange#4</p>
        </div>
        <div class = "col-md-4 col-sm-4 col-lg-2">
            <img src="assets/images/Question_mark.png" class="challange-img" alt="Cinque Terre">
            <p>Challange#5</p>
        </div>
    </div>
</div>