<div class="container">

    <h4 class="page-header">ABOUT</h4>

    <h3 style="text-align:center; font-weight: bolder; color: rgb(117, 207, 243);">Sri Lanka Olympiad Mathematics Foundation (SLOMF)</h3>
    <hr style="height: 2px; background: rgb(117, 207, 243); inline-size: 300px;"/>
    <p style="text-align: center; padding-right: 100px; padding-left: 100px; padding-bottom: 40px; font-family: 'Courier New', Courier, monospace, Geneva, Tahoma, sans-serif; font-size: 20px;">Sri Lanka Olympiad Mathematics Foundation (SLOMF) is a non-profit organization dedicated to popularizing mathematics at the school level. 
        It holds Sri Lankan Mathematical Olympiad (SLMO) annually and select and send teams to represent Sri Lanka at international competitions 
        such as International Mathematical Olympiad (IMO), Asian Pacific Mathematics Olympiad (APMO) and International Mathematics Competition (IMC).</p>

    <h3 style="text-align:center; font-weight: bolder;">Vision</h3>
    <hr style="height: 2px; background: black; inline-size: 100px;"/>
    <p style="text-align: center; padding-right: 100px; padding-left: 100px; padding-bottom: 40px; font-family: 'Courier New', Courier, monospace, Geneva, Tahoma, sans-serif; font-size: 20px;">For Sri Lanka to be a mathematically strong country producing high class mathematicians at international level; 
        to retain her best mathematical talent in the country; to have a culture appreciative of mathematics; 
        and to apply mathematics for her economic and intellectual development.</p>

    <h3 style="text-align:center; font-weight: bolder;">Mission</h3>
    <hr style="height: 2px; background: black; inline-size: 100px;"/>
    <p style="text-align: center; padding-right: 100px; padding-left: 100px; padding-bottom: 40px; font-family: 'Courier New', Courier, monospace, Geneva, Tahoma, sans-serif; font-size: 20px;">For us to hold a Sri Lankan Mathematical Olympiad annually, and discover mathematical talent in the country and nurture them; 
        to send a team to the International Mathematical Olympiad (IMO) annually; to produce Gold medal winners at the IMO; 
        to have good mathematical competitions for school children and the general public through print and electronic media; 
        to encourage and support math societies and math days at schools; 
        and to publish books and other material to promote general mathematical interest at school level.</p>

</div>