<div class="container">

    <h4 class="page-header">HISTORY</h4>

    <p style="text-align: center; padding-bottom: 40px; font-family: 'Courier New', Courier, monospace, Geneva, Tahoma, sans-serif; font-size: 20px;">
        Sri Lanka Olympiad Mathematics Foundation was founded by some academics in the University of Colombo and University of Kelaniya in 2004 as a nonprofit organization with the following vision:
    </p>

    <p style="text-align: center; padding-right: 100px; padding-left: 100px; padding-bottom: 40px; font-family: 'Courier New', Courier, monospace, Geneva, Tahoma, sans-serif; font-size: 20px;">
        “For Sri Lanka to be a mathematically strong country producing high class mathematicians at international level; to retain her best mathematical talent in the country; to have a culture appreciative of mathematics; and to apply mathematics for her economic and intellectual development.”
    </p>
    <p style="text-align: center; padding-bottom: 40px; font-family: 'Courier New', Courier, monospace, Geneva, Tahoma, sans-serif; font-size: 20px;">
        With this vision SLOMF started the Sri Lankan Mathematical Olympiad (SLMO) in 2004. SLMO consists of two competitions: the Sri Lankan Mathematics Competition (SLMC) and the Sri Lankan Mathematics Challenge Competition (SLMCC).  SLOMF has conducted this competition in Sinhala, Tamil and English island wide annually since 2004.
    
        Since the launch of SLMO in 2004 Sri Lanka has won bronze medals regularly at the International Mathematical Olympiad (IMO), the biggest and the most prestigious of all Olympiads. After the launch Sri Lanka has won 17 bronze medals since 2004 to date. Thus SLMO has played its role as the catalyst for good mathematics in the country.
    </p>

</div>
