<div id="main" class="container">
  <!-- cod taken from https://uicookies.com/bootstrap-image-gallery/  and https://codepen.io/renaudtertrais/pen/AfnzE-->
  <h4 class="page-header">GALLERY</h4>
    <div id="gallery" class="row">
      <div *ngFor="let category of categories" class="col-xs-3 col-sm-6 col-lg-4 gallery-item">
        <div class="album">
          <img *ngFor="let image of getImagesForACategory(category.categoryid, images)" [src]="image.imageUrl" alt="" />
        </div>
        <p>{{category.categoryname}}</p>
      </div>
    </div>
  </div>
